td.jsCalendar-selected:hover {
    cursor: pointer;
}

td.jsCalendar-selected:after {
    background: #FED100;
    border-radius: 50%;
    bottom: .5em;
    display: block;
    content: '';
    height: .5em;
    left: 25%;
    /*margin: -.25em 0 0 -.25em;*/
    position: relative;
    width: .5em;
}

.events-calendar-container{
    display: grid;
    grid-template-columns: auto 260px;
    grid-gap: 10px;
    margin: 0 auto;
}
.events-cards-container {
    height: 330px;
    display: flex;
    flex-direction: column;
    content: " ";
}

.events-cards-container > div{
    flex: 1;
}

.event-card{
    display: flex;
    align-items: stretch;
    width: 100%;
    background-color: white;
    margin: 0px 0px 10px 0px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    max-height: 150px;
}

.event-card-img{
    width: 22.5%;
    flex-shrink: 0;
}

.event-card-info {
    padding: 15px;
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
}

.event-card-info h3{
    font-family: 'Bandera_Bold';
}

.event-card img{
    width: 100%;
}

.jsCalendar-title-name {
    position: relative;
}



/*@charset "utf-8";*/
/*!* CSS Document *!*/

/*!* ---------- FONTAWESOME ---------- *!*/
/*!* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- *!*/
/*!* ---------- http://weloveiconfonts.com/ ---------- *!*/

/*@import url(http://weloveiconfonts.com/api/?family=fontawesome);*/

/**[class*="fontawesome-"]:before {*/
/*font-family: 'FontAwesome', sans-serif;*/
/*}*/

/*!* ---------- GENERAL ---------- *!*/

/*!*body {*!*/
/*!*background: #f9f9f9;*!*/
/*!*color: #0e171c;*!*/
/*!*font: 300 100%/1.5em 'Lato', sans-serif;*!*/
/*!*margin: 0;*!*/
/*!*}*!*/

/*a {*/
/*text-decoration: none;*/
/*}*/

/*!*h2 {*!*/
/*!*font-size: 2em;*!*/
/*!*line-height: 1.25em;*!*/
/*!*margin: .25em 0;*!*/
/*!*}*!*/

/*!*h3 {*!*/
/*!*font-size: 1.5em;*!*/
/*!*line-height: 1em;*!*/
/*!*margin: .33em 0;*!*/
/*!*}*!*/

/*table {*/
/*border-collapse: collapse;*/
/*border-spacing: 0;*/
/*}*/

/*.calendar-container {*/
/*height: 538px;*/
/*!*left: 50%;*!*/
/*!*margin: -255px 0 0 -245px;*!*/
/*!*position: absolute;*!*/
/*!*top: 50%;*!*/
/*!*width: 510px;*!*/
/*text-align: center;*/
/*padding: 10px;*/
/*}*/

/*!* ---------- CALENDAR ---------- *!*/

/*.calendar {*/
/*text-align: center;*/
/*}*/

/*.calendar header {*/
/*position: relative;*/
/*width: 390px;*/
/*}*/

/*.calendar h2 {*/
/*text-transform: uppercase;*/
/*}*/

/*.calendar thead {*/
/*font-weight: 600;*/
/*text-transform: uppercase;*/
/*}*/

/*.calendar tbody {*/
/*color: #7c8a95;*/
/*}*/

/*.calendar tbody td:hover {*/
/*border: 2px solid var(--yellow);*/
/*}*/

/*.calendar td {*/
/*border: 2px solid transparent;*/
/*border-radius: 50%;*/
/*display: inline-block;*/
/*height: 4em;*/
/*line-height: 4em;*/
/*text-align: center;*/
/*width: 4em;*/
/*}*/

/*.calendar .prev-month,*/
/*.calendar .next-month {*/
/*color: #cbd1d2;*/
/*}*/

/*.calendar .prev-month:hover,*/
/*.calendar .next-month:hover {*/
/*border: 2px solid #cbd1d2;*/
/*}*/

/*.current-day {*/
/*background: var(--yellow);*/
/*color: #f9f9f9;*/
/*}*/

/*.event {*/
/*cursor: pointer;*/
/*position: relative;*/
/*}*/

/*.event:after {*/
/*background: var(--yellow);*/
/*border-radius: 50%;*/
/*!*bottom: .5em;*!*/
/*display: block;*/
/*content: '';*/
/*height: .5em;*/
/*!*left: 50%;*!*/
/*margin: -.25em 0 0 -.25em;*/
/*!*position: absolute;*!*/
/*width: .5em;*/
/*}*/

/*.event.current-day:after {*/
/*background: #f9f9f9;*/
/*}*/

/*.btn-prev,*/
/*.btn-next {*/
/*border: 2px solid #cbd1d2;*/
/*border-radius: 50%;*/
/*color: #cbd1d2;*/
/*height: 2em;*/
/*font-size: .75em;*/
/*line-height: 2em;*/
/*margin: -1em;*/
/*position: absolute;*/
/*top: 50%;*/
/*width: 2em;*/
/*}*/

/*.btn-prev:hover,*/
/*.btn-next:hover {*/
/*background: #cbd1d2;*/
/*color: #f9f9f9;*/
/*}*/

/*.btn-prev {*/
/*left: 6em;*/
/*}*/

/*.btn-next {*/
/*right: 6em;*/
/*}*/
