@media screen and (max-width: 760px) {
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu{
        display: none;
    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
    }
    .toggle-button:after{
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }
    .header-container a{
        margin-right: -65px;
    }
    .main-menu {
        position: relative;
        top: 30px;
        right: 115px;
    }
}
