/*!* xs (<=543px) *!*/
/*@media (max-width: 575px) { ... }*/

/*!* sm (>=576 и <=767) *!*/
@media (min-width: 576px) and (max-width: 767px) {

}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
    .event-card-img {
        display: none;
    }
}

/*!* lg (>=992 и <=1199) *!*/
@media (min-width: 992px) and (max-width: 1199px) {
    .events-cards-container {
        width: auto;
    }
}

/*!* xl (>=1200) *!*/
/*@media (min-width: 1200px) { ... }*/

@media screen and (max-width: 760px) {
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu{
        display: none;
    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
    }
    .toggle-button:after{
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }
    .header-container a{
        margin-right: -65px;
    }
    .main-menu {
        position: relative;
        top: 30px;
        right: 115px;
    }
}
