
@font-face {font-family: 'Bandera_Pro';src: url('../fonts/bandera/BanderaPro.eot');src: url('../fonts/bandera/BanderaPro.eot?#iefix') format('edded-opentype'),url('../fonts/bandera/BanderaPro.woff2') format('woff2'),url('../fonts/bandera/BanderaPro.woff') format('woff'),url('../fonts/bandera/BanderaPro.ttf') format('truetype'),url('../fonts/bandera/BanderaPro.svg#BanderaPro') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Bandera_Bold';src: url('../fonts/bandera/BanderaPro-Bold.eot');src: url('../fonts/bandera/BanderaPro-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/bandera/BanderaPro-Bold.woff2') format('woff2'),url('../fonts/bandera/BanderaPro-Bold.woff') format('woff'),url('../fonts/bandera/BanderaPro-Bold.ttf') format('truetype'),url('../fonts/bandera/BanderaPro-Bold.svg#BanderaPro-Bold') format('svg');font-weight: bold;font-style: normal;}
@font-face {font-family: 'Bandera_Light';src: url('../fonts/bandera/BanderaProLight.eot');src: url('../fonts/bandera/BanderaProLight.eot?#iefix') format('embedded-opentype'),url('../fonts/bandera/BanderaProLight.woff2') format('woff2'),url('../fonts/bandera/BanderaProLight.woff') format('woff'),url('../fonts/bandera/BanderaProLight.ttf') format('truetype'),url('../fonts/bandera/BanderaProLight.svg#BanderaProLight') format('svg');font-weight: 300;font-style: normal;}

@font-face {font-family: "RobotoRegular"; src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot"); src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "RobotoLight";src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot");src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),url("../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"),url("../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "RobotoMedium";src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot");src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),url("../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "RobotoBold";src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot");src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),url("../fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"),url("../fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");font-style: normal;font-weight: normal;}

h1,h2{font-family: 'Bandera_Pro', sans-serif; font-weight:normal; color: rgb(51, 51, 51);}
h3,h4,h5,h6{font-family: 'RobotoBold', sans-serif; font-weight:normal; color: rgb(51, 51, 51);}
b, strong{font-family:'RobotoMedium', sans-serif; font-weight: normal; color: rgb(51, 51, 51);}
p{font-family: 'RobotoMedium';}
td, th{font-family: 'RobotoBold'}

:root {
    --yellow: #FED100;
    --gray: #333333;
}

body{
    font-family: 'RobotoLight', sans-serif;
    font-weight: 300;
    font-size:14px;
    line-height: 1.44;
    color: rgb(0, 0, 0);
    position:relative;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}
header{
    padding: 0px;
}

h2{
    font-size: 36px;
}

.reigistr_menu {
    background-color: #333333;
    color: rgba(178, 180, 179, 1);
    width: 100vw;
}

.top-bar {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.top-bar > ul {
    margin: 0;
    padding: 0;
}
.top-bar a{
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    font-family: "RobotoBold";
}

.header-container{
    display: flex;
    justify-content: space-between;
}
.header-container a{
    color: #333333;
    font-size: 16px;
    padding: 25px 15px 0px;
    font-family: "RobotoBold";
}
.header-container a:hover{
    color: #FED100;
}
ul{
    display: flex;
}
#menu-checkbox{
    display: none;
}
nav{
    margin-top: 20px;
}

.svg_logo {
    width: 100px;
    height: 50px;
}

.logo img{
    max-width: 60px;
}

.logo >div{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 0 10px 0;
    border-bottom:0px;
    /*border-bottom: 2px solid rgba(0,0,0,0.1);*/
}

.main-menu>li:last-child a{
    padding-right: 0px;
}
.description {
    color: white;
}

.description h2{
    color: white;
    line-height: 1.1;
}
.butt{
    text-align: center;
}
button {
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "RobotoBold";
}
.default-button {
    color: var(--gray);
    background-color: var(--yellow);
}
.calltoaction-button {
    background-color: var(--gray);
    color: white;
}

.courses-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    /*justify-content: space-between;*/
}

.courses-container {
    margin: 0 auto;
    text-align: center;
}

.card {
    background-color: #EDEDED;
}

.bottom-card h3{
    padding: 10px 0px;
    margin: 0;
    font-family: 'Bandera_Bold', sans-serif;
    font-size: 18px;
}
.top-card {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 180px;
}

.top-card img{
    height: 100%;
    /*!*display: none;*!*/
    position: relative; /* allows repositioning */
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%;
}

/*
figure{
    width: 100%;
    text-align: center;
    overflow: hidden;
}
img{
    position: relative;
    left: 50%;
    transform: translate(-50%,0)
}


*/

.event-calendar h2{
    text-align: center;
}

.event-calendar{
    background-color: #CCCCCC;
}
.calendar-block{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;

}

.calendar{
    background-color: white;
}

.calendar-cards {
    width: 60%;
    height: 100px;
}

section.popular-programm {
    background: #ccc;
}

section.popular-programm button.calltoaction-button {
    margin: 30px;
}

/* feedback section*/


.feedback-container {
    text-align: center;
}


.carousel {
    position: relative;
    /*width: ;*/
    /*padding: 10px 40px;*/
    margin-bottom: 80px;

}

.carousel img {
    width: 80px;
    height: 80px;
    margin: 20px auto;
    border-radius: 50%;
    display: block;
}

.arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

.prev {
    left: 7px;
}

.next {
    right: 7px;
}

.gallery {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.gallery ul {
    height: 220px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
}

.gallery li {
    display: inline-block;
    margin-right: 50px;
}



.feedback-block {
    height: 300px;
    width: 200px;

}