.slides {
    background: rgba(0, 0, 0, 0.5);
}

.slides:after {
    content: "";
    position: absolute;
    background: url("../img/bg1.jpg") no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5; /* Tone the image down further by giving it transparency */
    /*-webit-filter: blur(10px) grayscale(20%);*/
    /*filter: blur(10px) grayscale(20%); !* Go wild! *!*/
    background-size: cover;
    background-position: center;
}
